<connectionStrings>
  <add name="mysqlctvstemplete" connectionString="Data Source=#HOST#;Port=#PORT#;Database=#DATABASE#;User ID=#USER#;Password=#PASSWORD#;Charset=utf8mb4;pooling=true;Min Pool Size=10;SslMode = none;" />
  <add name="mongoctvstemplete" connectionString="#CUSTOM#" />
</connectionStrings>